#maze_area{
    position: absolute;
    top:0px;
    left:300px;
    height:100px;
    width:100px;
    border:4px solid;
}
#hero{
    position: absolute;
    top:4px;
    left:304px;
    height:16px;
    width:16px;
    background-color: #1589FF;

}
#monsters{
    position: absolute;
    top:0px;
    left:0px;
    
    

}
#instructions{
    font-size: 20px;
    
    color:rgb(3, 3, 255);
    position:absolute;
    
    top:0px;
    left:300px;
    height:100px;
    width:100px;
    border:4px solid;
    border-color: black;
    
    
    
    align-items: center;

}
#textprompt{
    font-size: 20px;
    color:rgb(255, 255, 255);
    position:absolute;
    
    top:100px;
    left:100px;
    height:250px;
    width:250px;
    
    border-color: black;
    background-color: rgba(100,100,100,0.4);
    
    
    align-items: center;
    
}
#heading{
    position:absolute;
    top:0px;
    left:0px;
    height:100px;
    width:250px;
    text-align: center;
}
#start{
    position: absolute;
    top:200px;
    left:95px;
    height:40px;
    width:80px;
    font-size: 20px;

}
#reset{
    position: absolute;
    top:100px;
    left:90px;
    height:40px;
    width:100px;
    font-size: 20px;

}