#pocket_tank{
    position: absolute;
    left:600px;
    font-size: 40px;
}
#game_area{
    position: absolute;
    height:480px;
    width:1250px;
    top: 100px;
    left: 100px;
    background-color: rgba(0, 213, 251, 0.827);
    border:3px solid;
    border-color: black;


}
#ball{
    position: absolute;
   
    height:10px;
    width:10px;
    border-radius:10px;
    
    top:150px;
    left:600px;

}
#ball2{
    position: absolute;
   
    height:10px;
    width:10px;
    border-radius:10px;
    
    top:150px;
    left:600px;

}
#new_ghost_child{
    position: absolute;
    top:0px;
    left:0px;
    
}
#cannon1{
    position: absolute;
    top:430px;
    left:150px;
    height:50px;
    width:150px;
    
    rotate:0deg;
    
    

}
#cannon1base{
    position: absolute;
    top:430px;
    left:200px;
    height:50px;
    width:50px;
    background-color: rgb(97, 96, 96);
    border-radius: 10px 10px 0px 0px;

}

#cannon1Piston{
    position: absolute;
    height:24px;
    width:60px;
    top:13px;
    left:75px;
    background-color: rgb(0, 21, 255);

}
#cannon2{
    position: absolute;
    top:430px;
    left:1150px;
    height:50px;
    width:150px;
    
    rotate:0deg;
    
    

}
#cannon2base{
    position: absolute;
    top:430px;
    left:1200px;
    height:50px;
    width:50px;
    background-color: rgb(97, 96, 96);
    border-radius: 10px 10px 0px 0px;

}

#cannon2Piston{
    position: absolute;
    height:24px;
    width:60px;
    top:13px;
    right:75px;
    
    background-color: red;

}
#floor{
    position: absolute;
    height:100px;
    width:1250px;
    top: 480px;
    left: 100px;
    background-color: greenyellow;
    border:3px solid;
    border-color: green;

}
#control_panel{
    position: absolute;
    height:150px;
    width:1250px;
    top: 580px;
    left: 100px;
    background-color: lightgrey;
    border:3px solid;
    border-color: darkgrey;

}
#ir1{
    position:absolute;
    top:10px;
    left:10px;
    font-size: 40px;;
}
#input_rotation{
    position:absolute;
    top:10px;
    left:200px;
    height:40px;
    width:80px;
    font-size: 40px;

}
#is1{
    position:absolute;
    top:60px;
    left:10px;
    font-size: 40px;;
}
#speed{
    position:absolute;
    top:60px;
    left:200px;
    height:40px;
    width:80px;
    font-size: 40px;

}
#ir2{
    position:absolute;
    top:10px;
    left:950px;
    font-size: 40px;;


}
#input_rotation2{
    position:absolute;
    top:10px;
    left:1140px;
    height:40px;
    width:80px;
    font-size: 40px;

}
#is2{
    position:absolute;
    top:60px;
    left:950px;
    font-size: 40px;;

}
#speed2{
    position:absolute;
    top:60px;
    left:1140px;
    height:40px;
    width:80px;
    font-size: 40px;

}
#start{
    position:absolute;
    top:30px;
    left:350px;
    font-size: 40px;;

}
#start2{
    position:absolute;
    top:30px;
    left:800px;
    font-size: 40px;;

}
#plane1{
    position: absolute;
    top:200px;
    left:50px;
    height:20px;
    width:50px;
    background-color: blueviolet;
    border:3px solid;
    border-radius: 0px 20px 20px 0px;;
}
#hideLeft{
    position: absolute;
    top:100px;
    left:0px;
    height:1000px;
    width:100px;
    background-color: white;
}
#hideRight{
    position: absolute;
    top:100px;
    left:1350px;
    height:1000px;
    width:200px;
    background-color: white;
}