#point{
    position:absolute;
    top:0vh;
    left:0vw;
    

}
#canvas{
    position:absolute;
    
    
   
}
#center{
    position:absolute;
    top:50vh;
    left:50vw;
    height:1px;
    width:1px;
    

}
#click{
    position:absolute;
    top:-80px;
    left:-150px;
    height:40px;
    width:300px;
    font-size: 40px;
    color: rgb(200,200,200);
 
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
